#navbar {
    position: absolute;
}

/* Overrides to make the light/dark mode checkbox look nicer
   Yes yes, I know there's a better way to do this, but it
   looked complicated.
*/

.form-check-input:checked, .form-check-input:checked:focus {
    background-color: black;
    border: white 2px solid;
}

.form-check-input, .form-check-input:focus {
    background-color: white;
    border: gray 2px solid;
}

.form-check-input:focus {
    box-shadow: none !important;
}

.form-switch .form-check-input:not(.form-check-input:checked):focus {
     --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
}